#wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.card-wrapper{
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  text-align: center;
  color: rgba(0,0,0,.87);
  font-weight: 500;

}
.cluster_img{
  width: 100%;
}
.connection{
  border: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: #3f51b5;
  background-color: #3f51b5;
  position: absolute;
}
.connection:hover{
  background-color: white;

  border-color: #3f51b5;
}
mat-card{
  padding: 0 ;
}
