<div id="wrapper">
  <div class="card-wrapper">
    <mat-card>
      <div class="card-title">Locations:</div>

      <form >
        <mat-form-field >
          <input type="text" placeholder="Mac Address" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let location of filteredMacs | async" [value]="location" (onSelectionChange)="this.finderSelect(location)">
                              <span > {{location}}</span>

            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <mat-tab-group [selectedIndex]="curentCluster" (selectedIndexChange)="changeCurrentCluster($event)">
        <mat-tab label="e1">
          <div class="connection" [ngStyle]="get_connection_style(connection)" *ngFor="let connection of locations_data[0]" (click)="openDialog(connection)"></div>
          <img #e1 class="cluster_img" src="../../assets/domain_4_1511041548007.png">
        </mat-tab>
        <mat-tab label="e2">
          <div class="connection" [ngStyle]="get_connection_style(connection)" *ngFor="let connection of locations_data[1]" (click)="openDialog(connection)"></div>
          <img #e2 class="cluster_img" src="../../assets/domain_4_1513769867616.png">
        </mat-tab>
        <mat-tab label="e3">
          <div class="connection" [ngStyle]="get_connection_style(connection)" *ngFor="let connection of locations_data[2]" (click)="openDialog(connection)"></div>
          <img #e3 class="cluster_img" src="../../assets/domain_4_1513775294059.png">
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
