<style>
  .label, h1{
    color: #3f51b5;
  }
</style>
<h1 mat-dialog-title>Client </h1>
<div mat-dialog-content>
  <div class="label"> MAC Address: </div>
  <div class="content">{{data.data['macAddress']}}</div>
  <mat-divider></mat-divider>

  <div class="label">Status:</div>
  <div class="content">{{data.data['dot11Status']}}</div>
  <mat-divider></mat-divider>

  <div class="label">IP Address:</div>
  <div class="content" *ngIf="data.data['ipAddress']">{{data.data['ipAddress'][0]}}</div>
  <mat-divider></mat-divider>

  <div class="label">Co-ordinates:</div>
  <div class="content">X: {{data.data['mapCoordinate']['x']}} feet</div>
  <div class="content">Y: {{data.data['mapCoordinate']['y']}} feet</div>
  <mat-divider></mat-divider>

  <div class="label">Last Seen:</div>
  <div class="content">{{data.data['statistics']['lastLocatedTime']}}</div>
  <mat-divider></mat-divider>

  <div class="label">Manufacturer:</div>
  <div class="content">{{data.data['manufacturer']}}</div>
  <mat-divider></mat-divider>

  <div class="label">User Name:</div>
  <div class="content">{{data.data['userName']}}</div>
  <mat-divider></mat-divider>

  <div class="label">Band:</div>
  <div class="content">{{data.data['band']}}</div>
  <mat-divider></mat-divider>

  <div class="label">Bytes Sent:</div>
  <div class="content">{{data.data['bytesSent']}}</div>
  <mat-divider></mat-divider>

  <div class="label">Bytes Received:</div>
  <div class="content">{{data.data['bytesReceived']}}</div>
  <mat-divider></mat-divider>

</div>






