<mat-toolbar >
  <button mat-raised-button color="primary" routerLink="/statistics">Statistics</button>
  <button mat-raised-button color="primary" routerLink="/locations">Locations</button>
  <span>CCMN</span>
</mat-toolbar>
