<div id="wrapper">
  <div class="card-wrapper">
  <mat-card>
    <div class="card-title">Connected users:</div>
    <mat-tab-group headerPosition="below">
      <mat-tab label="Total"> {{connectedUsers['totalConnected']}} </mat-tab>
      <mat-tab label="e1"> {{connectedUsers['totalByFloor'][3]['value']}} </mat-tab>
      <mat-tab label="e2"> {{connectedUsers['totalByFloor'][2]['value']}} </mat-tab>
      <mat-tab label="e3"> {{connectedUsers['totalByFloor'][0]['value']}} </mat-tab>
    </mat-tab-group>
  </mat-card>
  </div>


  <div class="card-wrapper"  id="uniqueVisitors">
    <mat-card>
      <div class="card-title">Unique visitors count:</div>
      <mat-form-field>
        <input  matInput [matDatepicker]="picker3" placeholder="Begin date"
                [value]="uniqueVisitors.startDate"
                (dateChange)="uniqueVisitorsDatesChange($event,'start')">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input  matInput [matDatepicker]="picker4" placeholder="End date"
                [value]="uniqueVisitors.endDate"
                (dateChange)="uniqueVisitorsDatesChange($event,'end')">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
      <div>{{uniqueVisitors.data}}</div>
    </mat-card>
  </div>

  <div class="card-wrapper" id="visitorsInfo">
    <mat-card>
      <div class="card-title">Visitors count:</div>
      <mat-form-field>
        <input  matInput [matDatepicker]="picker" placeholder="Begin date"
                [value]="visitorsInfo.startDate"
                (dateChange)="visitorsDatesChange($event,'start')">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input  matInput [matDatepicker]="picker2" placeholder="End date"
                [value]="visitorsInfo.endDate"
                (dateChange)="visitorsDatesChange($event,'end')">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div *ngIf="visitorsInfo.ready" class="chart">
        <div >
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="visitorsInfo.data"
                    [labels]="visitorsInfo.labels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="card-wrapper" id="hourlyVisitors">
    <mat-card>
      <div class="card-title">Hourly visitors count:</div>
      <mat-form-field>
        <input  matInput [matDatepicker]="picker5" placeholder="Begin date"
                [value]="hourlyVisitors.startDate"
                (dateChange)="hourlyVisitorsDatesChange($event,'start')">
        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
        <mat-datepicker #picker5></mat-datepicker>
      </mat-form-field>
      <div *ngIf="hourlyVisitors.ready" class="chart">
        <div >
          <div style="display: block;">
            <canvas baseChart width="400" height="400"
                    [datasets]="hourlyVisitors.data"
                    [labels]="hourlyVisitors.labels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>

