#wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.card-wrapper{
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  text-align: center;
  color: rgba(0,0,0,.87);
  font-weight: 500;

}
mat-form-field{
  margin-right: 10px;
}
mat-card{
  min-height: 140px;
}
.card-title{
  margin-bottom: 5px;
}
